<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="svnPath" value="C:\path\to\svn.exe"/>
    <add key="repoPath" value="svn://path/to/repo"/>
    <add key="outputPath" value="c:\output\path.txt"/>
    <add key="escapeChar" value="-"/>
    <add key="textWidth" value="70"/>   <!-- value="-1" means no text wrap -->
    <add key="swap" value="true"/>
    <add key="innerSwap" value="true"/>
  </appSettings>
</configuration>